/* css reset */
*{
    margin: 0;
    padding: 0;
}
#navbar{
    position: relative;
    display: flex;
}
#navbar ul  {
    display: flex;
    /* font-family: 'Gloria Hallelujah', cursive;  */
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute; 
    width:100%; 
    height:100%; 
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    display: block;
    padding: 8px 22px;
    margin: 16px 12px;
    border-radius: 28px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}
#logo{
    margin: 10pxpx 34px;
}
#logo img{
    width: 65px;
    height: 43px;
    margin: 13px 10px;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:80%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    text-align: center;
    color: white;
    /* font-family: 'Gloria Hallelujah', cursive; */
}
#home p{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    /* font-family: 'Gloria Hallelujah', cursive; */
}
/* client section */
#client-section{
    height: 264px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(bg.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 120px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    background: url(contact.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 12px 12px;
    margin: 2px 20px;
    border-radius: 25px;
    background-color: #dccece;
}
#services .box img{
    display: block;
    height: 160px;
    margin: auto;
}
#services .box p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   /* utility class */
   .h-primary{
    font-size: 2.8rem;
    padding: 10px;
   }
   .h-secondary{
    font-size: 1.8rem;
    padding: 10px;
   }
.btn{
    padding: 9px 22px;
    margin: 30px;
    border: 1px solid white;
    background-color: brown;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 5px 10px red;   
}
.center{
    text-align: center;
}
